.Levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(10px);
    
    &__modal {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(2, 200px) ;
        gap: 30px;
        max-width: 1440px;
        height: 400px;
        background: linear-gradient(rgba(3, 3, 3, 0.6), rgba(3, 3, 3, 0));
        border-radius: 5px 5px 0 0;
        padding: 30px 40px;
        margin-bottom: 70px;

        &-item {
            background-color: rgb(141, 143, 145);
            width: 300px;
            height: 200px;
            box-shadow: -2px 10px 35px 1px rgba(0, 0, 0, 0.5);
            position: relative;
            cursor: pointer;

            & img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
    
}