@import "../../variables.scss";

.shop {
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: $backdropFilter;

    &__title {
        margin: 0 0 50px 0;
        color: $mainTextColor;
    }

    &__title {
        color: $mainTextColor;
        margin: 0 0 50px 0;
    }

    &__modal {
        width: 800px;
        height: 500px;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        background: $bacgroundColorGradient;
        border-radius: $borderRadius;
        align-items: center;

        & p {
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translate(-50%);
            color: white;
            font-size: 21px;
            line-height: 120%;
        }

        & img {
            height: 400px;
        }

        &-items {
            display: grid;
            grid-template-columns: repeat(3, 69px);
            gap: 5px;
            color: $mainTextColor;
            margin-bottom: 15px;
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            width: 67px;
            height: 67px;
            list-style: none;
            background: $bacgroundColorGradient;
            border: 2px solid $mainBorderColor;

            & img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }

            & span {
                position: absolute;
                bottom: 0;
                font-size: 20px;
                line-height: 120%;
                color: inherit;
            }

            &:hover {
                border-color: $activedBorderColor;
            }
        }

        &-gold {
            margin-top: 20px;
            color: $mainTextColor;
        }
    }

    &__btn {
        margin-top: 50px;
    }
}
