.enemies {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;

    &__content {
        flex: 0 1 25%;
        position: relative;
        padding-bottom: 30%;
        width: 100%;

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            filter: drop-shadow(0px -2px 5px #ffffff);

            &.enemies {
                transform: rotateY(180deg);
            }

            &.isDead {
                top: 20%;

                & img {
                    object-fit: contain;
                }
            }
        }

        &-hp {
            position: absolute;
            bottom: -8%;
            right: 0;
            width: 100%;
            background-color: rgba(243, 135, 135, 0.795);

            & span {
                position: absolute;
                left: 0;
                max-width: 100%;
                height: 100%;
                background-color: rgba(255, 0, 0, 0.795);
            }

            & p {
                position: relative;
                margin: 0;
                color: #fff;
                font-size: 11px;
                z-index: 10;
            }
        }

        &-taken-damage {
            position: absolute;
            top: -10%;
            left: 50%;
            transform: translateX(-50%);
            color: red;
            font-size: 30px;
            line-height: 120%;
        }

        .arrow-down {
            display: none;
        }

        &:hover {
            .arrow-down span {
                border-bottom: 5px solid #f54818;
                border-right: 5px solid #f54818;
            }
        }
    }
}
