.inventory {
    height: 100%;
    backdrop-filter: blur(10px);

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__container {
        width: 500px;
        height: 500px;
        background-color: #fff;
    }

    &__header {
        margin: 20px 0 0;
        font-size: 21px;
        line-height: 120%;
    }

    &__body {
        padding: 15px;

        &-items {
            max-height: 390px;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(5, 1fr);
            justify-items: center;
            row-gap: 10px;
            overflow: auto;
        }

        &-item {
            display: flex;
            align-items: center;
            width: 67px;
            height: 67px;
            list-style: none;
            background-color: rgba(128, 128, 128, 0.555);
            border: 1px solid #000;
            border-radius: 5px;

            position: relative;
            cursor: pointer;
            scrollbar-width: none;

            & img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
            }

            & span {
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 20px;
                line-height: 120%;
            }
        }
    }

    &__footer {
    }
}
