.fight-scene {
    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        background-color: #000;
    }

    &__main {
        // height: 700px;
        // width: 1440px;
        // margin: 0 auto;

        // padding-bottom: 35%;
        flex: 0 1 50%;
        position: relative;

        &-backimg {
            position: relative;
            // height: 700px;
            height: 100%;
            width: 100%;
            padding-bottom: 35%;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }

        &-characters {
            display: flex;
            position: absolute;
            width: 100%;
            bottom: 5%;
            // left: 50%;
            justify-content: space-evenly;

            .player,
            .enemys {
                display: flex;
                justify-content: center;
                gap: 10px;
                width: 100%;

                &__content {
                    flex: 0 1 15%;
                    position: relative;
                    // width: 100px;
                    // height: 300px;
                    padding-bottom: 30%;
                    width: 100%;

                    &-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;

                        &.enemy {
                            transform: rotateY(180deg);
                        }

                        &.isDead {
                            top: 20%;
                        }
                    }

                    &-hp {
                        position: absolute;
                        bottom: -8%;
                        right: 0;
                        width: 100%;
                        background-color: rgba(243, 135, 135, 0.795);

                        & span {
                            position: absolute;
                            left: 0;
                            max-width: 100%;
                            height: 100%;
                            background-color: rgba(255, 0, 0, 0.795);
                        }

                        & p {
                            position: relative;
                            margin: 0;
                            color: #fff;
                            font-size: 11px;
                            z-index: 10;
                        }
                    }

                    &-taken-damage {
                        position: absolute;
                        top: -10%;
                        left: 50%;
                        transform: translateX(-50%);
                        color: red;
                        font-size: 20px;
                        line-height: 120%;
                    }
                }
            }
        }
    }

    &__panel {
        flex: 1 1 100%;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;
        height: 300px;
        background-color: #000;
        display: flex;

        &-left,
        &-right {
            flex: 0 1 50%;
            border: 1px dashed #fff;
        }

        .skills__panel {
            cursor: pointer;
            & img {
                width: 70px;
                height: 70px;
            }
        }
    }
}
