.fight-scene {
    box-sizing: border-box;

    &__wrapper {
        height: 100%;
        backdrop-filter: blur(10px);
        position: relative;
    }

    &__main {
        height: 100%;
        position: relative;

        &-backimg {
            position: relative;
            height: 89vh;
            width: 100%;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50px;
                background: linear-gradient(rgba(3, 3, 3, 0.1), rgba(3, 3, 3, 1));
            }
        }

        &-characters {
            display: flex;
            position: absolute;
            gap: 200px;
            width: 100%;
            bottom: 13%;
            justify-content: space-evenly;

            .player,
            .enemys {
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                gap: 20px;

                &__content {
                    flex: 0 1 25%;
                    position: relative;
                    padding-bottom: 30%;
                    width: 100%;

                    &-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        filter: drop-shadow(0px -2px 5px #ffffff);

                        &.enemy {
                            transform: rotateY(180deg);
                        }

                        &.isDead {
                            top: 20%;

                            & img {
                                object-fit: contain;
                            }
                        }
                    }

                    &-hp {
                        position: absolute;
                        bottom: -8%;
                        right: 0;
                        width: 100%;
                        background-color: rgba(243, 135, 135, 0.795);

                        & span {
                            position: absolute;
                            left: 0;
                            max-width: 100%;
                            height: 100%;
                            background-color: rgba(255, 0, 0, 0.795);
                        }

                        & p {
                            position: relative;
                            margin: 0;
                            color: #fff;
                            font-size: 11px;
                            z-index: 10;
                        }
                    }

                    &-taken-damage {
                        position: absolute;
                        top: -10%;
                        left: 50%;
                        transform: translateX(-50%);
                        color: red;
                        font-size: 30px;
                        line-height: 120%;
                    }

                    .arrow-down {
                        display: none;
                    }

                    &:hover {
                        .arrow-down span {
                            border-bottom: 5px solid #f54818;
                            border-right: 5px solid #f54818;
                        }
                    }
                }
            }
        }
    }

    &__skills-panel {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        margin: 0 auto;
        padding: 0;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 20px;

        .skills__item {
            position: relative;
            list-style: none;
            flex: 0 1 4%;
            padding-bottom: 4%;
            border: 2px solid #b9b9b9;
            cursor: pointer;
            transition: all 0.3 linear;

            &:hover {
                border: 2px solid #d6431bb2;
            }
        }

        & img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }

    &__header-panel {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 50px;
        background: linear-gradient(rgba(3, 3, 3, 0.6), rgba(3, 3, 3, 0));

        .header-panel__inventory {
            position: relative;
            width: 48px;
            height: 48px;
            padding: 0 60px;
            cursor: pointer;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
