.create-character {
    box-sizing: border-box;

    &__wrapper {
        // max-width: 1440px;
        max-width: 900px;
        height: 700px;
        // height: 100%;
        // background-color: rgb(214, 210, 210);\
        padding: 35px;
        margin: 80px auto 0;
        box-shadow: -2px 10px 35px 1px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }

    &__content {
        display: flex;
        gap: 10px;
    }

    &__select,
    &__info {
        flex: 0 1 50%;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 30px;
    }

    &__select {
        // temp
        height: 500px;

        // not temp
        display: flex;
        flex-direction: column;

        &-name {
            flex: 0 1 25%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 20px;
            line-height: 120%;
            font-weight: 70;
            font-weight: 700;

            & input {
                padding: 10px 0;
                outline: none;
                border: 1px solid #000;
                border-radius: 20px;
                font-size: 16px;
                line-height: 120%;
                text-align: center;
                transition: all 0.2s ease;

                &:focus {
                    border-color: aquamarine;
                }
            }
        }

        &-container {
            display: flex;
            justify-content: space-between;
        }
    }

    &__race,
    &__class {
        &-variable {
            position: relative;
            width: 64px;
            height: 64px;
            // margin-bottom: 10px;
            margin: 10px 0;
            cursor: pointer;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__race {
        position: relative;

        &-bigimg {
            position: absolute;
            top: 0;
            left: 200%;
        }
    }

    &__info {
        // temp
        height: 500px;

        // not temp
        &-title {
            font-size: 20px;
            line-height: 120%;
            font-weight: 700;
            margin: 0 0 50px 0;
        }

        &-descr {
            & p {
                font-size: 16px;
                line-height: 120%;
                font-weight: 700;
            }
        }

        .stats {
            &__title {
                font-size: 16px;
                line-height: 120%;
                font-weight: 700;
            }

            &__elem {
                text-align: left;
            }
        }
    }

    &__btn {
        // padding: 15px 50px;
        // margin: 50px 0 0;
        // border-radius: 20px;
        // border: 1px solid;
        // font-size: 16px;
        // line-height: 120%;
        // cursor: pointer;
        // transition: all 0.3s linear;
        padding: 15px 50px;
        margin: 50px 0 0;
        border-radius: 10px;
        font-size: 16px;
        line-height: 120%;
        cursor: pointer;
        transition: all 0.3s linear;
        background-color: #d6441b;
        color: white;

        &:hover {
            background-color: aquamarine;
        }
    }
}
