@import "../../variables.scss";

.create-character {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

    &__wrapper {
        width: 1440px;
        color: $mainTextColor;
    }

    &__title {
        margin: 0 0 50px 0;
        line-height: 120%;

        @media (max-height: 919.9px) {
            margin: 0 0 25px 0;
        }
    }

    &__content {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 100px;
        padding: 0 50px;
    }

    &__select {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-item {
            padding: 15px 10px 100px;
            background: $bacgroundColorGradient;
            border-radius: 5px 5px 0 0;

            @media (max-height: 919.9px) {
                padding: 15px 10px 75px;
            }
        }

        &-title {
            margin: 0 0 15px 0;
            padding-bottom: 7px;
            font-size: 21px;
            line-height: 120%;
            text-transform: uppercase;
            border-bottom: thin solid $mainBorderColor;
        }
    }

    &__race,
    &__class {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;

        &-variable {
            position: relative;
            width: 64px;
            height: 64px;
            border: 2px solid $mainBorderColor;
            cursor: pointer;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &._active {
                border: 2px solid $activedBorderColor;
            }
        }
    }

    &__bigimg {
        position: relative;

        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__info {
        padding: 15px 10px 0;
        background: linear-gradient(rgba(3, 3, 3, 0.6), rgba(3, 3, 3, 0));
        border-radius: 5px 5px 0 0;

        @media (max-height: 919.9px) {
            height: 458px;
        }

        &-title {
            margin: 0 0 30px 0;
            padding-bottom: 7px;
            font-size: 21px;
            line-height: 120%;
            text-transform: uppercase;
            border-bottom: thin solid $mainBorderColor;
        }

        &-wrapper {
            @media (max-height: 919.9px) {
                height: 245px;
            }
        }

        &-descr {
            height: 135px;

            & .descr__title {
                font-size: 16px;
                line-height: 120%;
                font-weight: 700;
            }

            @media (max-height: 919.9px) {
                height: auto;
                cursor: pointer;

                & .arrow {
                    border: solid $mainTextColor;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transition: all 0.2s linear;

                    &.down {
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }
                }

                & .descr__text {
                    display: none;
                }

                &._desc-spoiler-open {
                    & .descr__text {
                        display: block;
                    }

                    & .arrow {
                        &.down {
                            transform: rotate(-135deg);
                            -webkit-transform: rotate(-135deg);
                        }
                    }
                }
            }
        }

        .stats {
            &__title {
                font-size: 16px;
                line-height: 120%;
                font-weight: 700;
            }

            &__lists {
                padding: 0 0 0 35px;
            }

            &__elem {
                position: relative;
                text-align: left;

                &:not(:last-child) {
                    margin-bottom: 3px;
                }
            }

            @media (max-height: 919.9px) {
                cursor: pointer;

                &__lists {
                    display: none;
                }

                &._stats-spoiler-open {
                    & .stats__lists {
                        display: block;
                    }
                }

                & .arrow {
                    border: solid $mainTextColor;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transition: all 0.2s linear;

                    &.up {
                        transform: rotate(-135deg);
                        -webkit-transform: rotate(-135deg);
                    }
                }

                &._stats-spoiler-close {
                    & .arrow {
                        &.up {
                            transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                        }
                    }
                }
            }
        }

        .skills {
            &__title {
                font-size: 16px;
                line-height: 120%;
                font-weight: 700;
            }

            &__lists {
                padding: 0;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }

            &__elem {
                cursor: pointer;
                list-style: none;
                border: 2px solid $mainBorderColor;
                display: flex;
                position: relative;

                & img {
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 50px;

        & input {
            width: 30%;
            padding: 10px 0;
            outline: none;
            border-top: 1px solid $mainBorderColor;
            border-bottom: 1px solid $mainBorderColor;
            border-left: none;
            border-right: none;
            border-radius: 3px;
            font-family: inherit;
            font-size: 20px;
            line-height: 120%;
            text-align: center;
            color: $mainTextColor;
            background-color: rgba(0, 0, 0, 0.171);
            transition: all 0.2s ease;

            &::placeholder {
                color: $mainTextColor;
            }

            &:focus {
                border-color: $activedBorderColor;
            }
        }

        @media (max-height: 919.9px) {
            margin-top: 25px;
            gap: 25px;
        }
    }

    &__button {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 50%;
            left: 0;
            background-color: $activedBorderColor;
            z-index: -1;
        }
    }
}
