@import "../../variables.scss";

.tool-tip {
    z-index: 100;
    position: absolute;
    color: $mainTextColor;
    padding: 15px 10px 0;
    background: $bacgroundColorGradient;
    border-radius: 5px 5px 0 0;

    &-bottom {
        top: 110%;
    }

    &-right {
        top: 0;
        left: 40%;
    }
}
