@import "../../variables.scss";

.arrow-hover {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;

    & div {
        position: relative;
        top: 20px;
        width: 90px;
        height: 10px;
        background-color: $mainTextColor;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
        left: 0;
        display: block;

        &::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 10px;
            top: -11px;
            right: -8px;
            background-color: $mainTextColor;
            transform: rotate(45deg);
        }

        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 10px;
            top: 11px;
            right: -8px;
            background-color: $mainTextColor;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            transform: rotate(-45deg);
        }
    }

    &:hover {
        animation: arrow-hover-right 1s linear infinite;

        & div,
        div::after,
        div::before {
            background-color: $hoveredDirectionsArrow;
        }
    }

    &.move-left {
        transform: rotate(180deg);

        &:hover {
            animation: arrow-hover-left 1s linear infinite;
        }
    }

    &.move-forward {
        transform: rotate(-90deg);

        &:hover {
            animation: arrow-hover-forward 1s linear infinite;
        }
    }
}

@keyframes arrow-hover-right {
    0% {
        left: 0;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0;
    }
}

@keyframes arrow-hover-left {
    0% {
        right: 0;
    }
    50% {
        right: 10px;
    }
    100% {
        right: 0;
    }
}

@keyframes arrow-hover-forward {
    0% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
    100% {
        bottom: 0;
    }
}
