.Main-scene {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);

    &__modal {
        max-width: 1440px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(rgba(3, 3, 3, 0.6), rgba(3, 3, 3, 0));
        border-radius: 5px 5px 0 0;
        padding: 0 60px;
    }

    &__list {
        list-style-type: none;
        padding: 0;

        .item__list {
            margin-bottom: 50px;
            position: relative;

            &-button {
                //     padding: 15px 50px;
                //     margin: 50px 0 0;
                //     border-radius: 10px;
                //     font-size: 16px;
                //     line-height: 120%;
                //     cursor: pointer;
                //     transition: all 0.3s linear;
                //     width: 165px;
                //     background-color: #d6441b;
                //     color: white;
                width: 205px;
            }
        }
    }
}
