@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");

body,
html {
  margin: 0;
  height: 100%;
  font-family: 'Metal Mania', cursive;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.2rem;
}