$mainTextColor: #b9b9b9;
$mainBorderColor: #4a4848;
$activedBorderColor: #d6431bb2;
$hoveredDirectionsArrow: #d6431b;
$bacgroundColorGradient: linear-gradient(rgba(3, 3, 3, 0.6), rgba(3, 3, 3, 0));
$borderRadius: 5px 5px 0 0;
